<footer>
    <img class="logo" src="./img/logo.png" alt="">
    <div id="daim">
        <a id="footer-info" href="./datenschutz.html">Datenschutz</a>
        <div id="stroke"></div>
        <a id="footer-info" href="./impressum.html">Impressum</a>
    </div>
        <div id="news">
    <div id="social">
        <a href="https://www.facebook.com/" target="_blank"><img class="social-media" src="./img/facebook_white.png" alt=""></a>
        <a href="https://www.instagram.com/" target="_blank"><img class="social-media" src="./img/instagram_white.png" alt=""></a>
        <a href="https://twitter.com/?lang=de" target="_blank"><img class="social-media" src="./img/X_white.png" alt=""></a>
    </div>
    </div>
</footer>